{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'parts/nav.html '%}
<div style="direction: rtl;" class="wrapper">
    <div class="content-wrapper p-5">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>الكتب المتاحة</h1>
            </div>
        </div>

        <section class="content">
            <div class="card card-solid">
                <div class="card-body pb-0">
                    {% for category, books in books_by_categories.items %}
                    <h2>{{ category.name }}</h2>
                    <div class="row d-flex align-items-stretch">
                        {% for book in books %}
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div class="card bg-light">
                                <div class="card-header text-muted border-bottom-0">
                                    {{ book.category.name }}
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>{{ book.title }}</b></h2>
                                            <ul class="fa-ul text-muted">
                                                <li class="small"><span class="fa-li"></span>الحالة: {{ book.status }}</li>
                                                <li class="small"><span class="fa-li"></span>عدد الصفحات: {{ book.pages }}</li>
                                                <li class="small"><span class="fa-li"></span>عدد النسخ المتاحة: {{ book.available_copies }}</li>
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            {% if book.photo_book %}
                                                <img style="height: 120px; width: 120px;" src="{{ book.photo_book.url }}" alt="" class="img-circle img-fluid">
                                            {% else %}
                                                <img style="width:100px; height: 100px;" class="img-circle elevation-2" src="{% static 'default_image_path/default_book.png' %}" alt="Default Avatar">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="{% url 'book_detail' book.id %}" class="btn btn-sm btn-info">
                                            <i class="fas fa-info-circle"></i> تفاصيل
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p>لا توجد كتب في هذا التصنيف.</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
