<!-- Main Sidebar Container -->
<aside style="position: fixed; height: 100%; overflow-y: auto;" class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <span class="brand-text font-weight-light">LMS---PROJECT</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image"></div>
      <div class="info">
        <a href="#" class="d-block">مرحبًا, {{ student.username }}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="{% url 'student_books' %}" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>New Books</p>
          </a>
        </li>

        <li class="nav-header">الكتب المستعارة</li>

        <li style="cursor: pointer;" class="nav-item">
          <a id="statusSold" class="nav-link">
            <i class="nav-icon far fa-circle text-danger"></i>
            <p class="text">تم بيعه</p>
          </a>
        </li>
        <li style="cursor: pointer;" class="nav-item">
          <a id="" class="nav-link" href="{% url 'student_view_borrowed_books' %}">
            <i class="nav-icon far fa-circle text-warning"></i>
            <p>ارجاع الكتب المستعارة</p>
          </a>
        </li>
        <li style="cursor: pointer;" class="nav-item">
          <a id="" class="nav-link">
            <i class="nav-icon far fa-circle text-info"></i>
            <p>عرض الكتب المتاحة</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
